@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

//レスポンシブ対応
//スマホ
$lp:1030px;
$mb:768px;
@mixin laptop {
    @media screen and (max-width: $lp) {
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width: $mb) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 74px;
    background-color: #1B1310;
    align-items: center;

    & .site-title {
        font-family: "Roboto";
        margin-left: 120px;
        font-size: 26px;
        font-weight: 600;
        margin-right: auto;
        color: white;

        @include mobile {
            margin-left: 15px;
        }
    }

    & #hamburger{
        & .nav-btn {
            display: none;
        }
        & #nav {
            & .navigation-group {
                padding: 0px;
                & .navigation-item {
                    list-style: none;
                    display: inline-block;
                    margin-right: 54px;
    
                    &:last-child {
                        margin-right: 120px;
                    }
    
                    & a {
                        font-family: "Roboto";
                        font-size: 16px;
                        font-weight: 600;
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }

        @include mobile {
            & .nav-btn {
                display: block;
                position: fixed;
                top: 10px;
                right: 30px;
                width: 30px;
                height: 24px;
                z-index: 3;
                & span {
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background: white;
                    border-radius: 10px;
                    -webkit-transition: all 400ms;
                    transition: all 400ms;

                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 10px;
                    }
                    &:nth-child(3) {
                        top: 20px;
                    }
                }

                &.open {
                    & span {
                        &:nth-of-type(1){
                            top: 16px;
                            transform: rotate(-45deg);
                        }
                        &:nth-of-type(2),
                        &:nth-of-type(3) {
                            top: 16px;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            & #nav {
                position: fixed;
                background-color: #1B1310;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                z-index: 2;

                &.open {
                    right: 0px;
                }

                & .navigation-group {
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    height: 100%;
                    text-align: center;
                    justify-content: center;
                    & .navigation-item {
                        width: 100%;
                        margin-right: 0px;
                        padding-bottom: 75px;
                        list-style: none;
                        &:last-child {
                            margin-right: 0px;
                            padding-bottom: 0px;
                        }
                        & a {
                            font-family: "Roboto";
                            font-size: 16px;
                            font-weight: 600;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

}

#FV {
    display: flex;
    width: 100%;
    height: 740px;
    background-image: url("../public/img/fv-bgi@2x.jpg");
    @include mobile {
        background-image: url("../public/img/fv-bgi_sp@2x.jpg");
        height: 590px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

    & .fv-text {
        padding: 42px 34px;
        font-family: "Roboto";
        color: white;
        font-size: 50px;
        font-weight: 600;
        border: 2px solid white;
    }
}

.contents {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    // margin-left: 205px;
    // margin-right: 205px;
    @include laptop {
        width: 768px;
    }

    @include mobile {
        width: 375px;
    }

}

#About {
    margin-top: 100px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    & .about-h2 {
        margin-top: 72px;
        font-family: 'Noto Sans Japanese', sans-serif; 
        font-size: 24px;
        font-weight: bold;
    }


    & .about-message {
        margin-top: 42px;
        font-family: 'Noto Sans Japanese', sans-serif; 
        font-size: 14px;
        font-weight: bold;
    }
}

#Service {
    margin-top: 150px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    & .service-item1 {
        margin-top: 70px;
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;

        @include mobile {
            display: block;
        }

        & .service-item1-box
        {
            margin-left: 70px;
            @include mobile {
                margin-left: 0px;
            }
            & .service-item1-h2 {
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 24px;
                font-weight: bold;
            }
            & .service-item1-message {
                margin-top: 41px;
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 14px;
                font-weight: bold;
            }
        }

        & img {
            @include mobile {
                margin-left: 15px;
                width: 345px;
                height: 150px;
            }
        }
    }
    & .service-item2 {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            display: block;
        }

        & .service-item2-box
        {
            & .service-item2-h2 {
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 24px;
                font-weight: bold;
            }
            & .service-item2-message {
                margin-top: 41px;
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 14px;
                font-weight: bold;
            }
        }

        & img {
            margin-left: 70px;

            @include mobile {
                margin-left: 15px;
                width: 345px;
                height: 150px;
            }
        }
    }
}

#News {
    margin-top: 150px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }
    & .news-conntents {
        display: flex;
        justify-content: space-between;

        @include mobile {
           display: block;
        }

        & .news-item-block {
            width: 320px;
            box-shadow: 0 2px 5px #ccc;
            & img {
                vertical-align: bottom; //画像下の余白を取る
            }

            & p {
                padding: 25px 33px;
                font-size: 13px;
                font-family: 'Hiragino Kaku Gothic ProN';
            }
        }
    }

}

#Contact {
    margin-top: 150px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    & .contact-form {
        margin: 46px 165px 0px 165px;

        @include mobile {
            margin: 46px 15px 0px 15px;
        }

        & .contact-form-item {
            margin-top: 22px;
            
            & input {
                width: 100%;
            }

            & textarea {
                width: 100%;
                height: 171px;
            }
        }

        & .contact-form-submit {
            text-align: center;
            margin-top: 50px;
            & button {
                text-align: center;
                width: 235px;
                height: 59px;
                background-color: #1B1310;
                color: white;
                border-radius: 100vh;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

#footer {
    width: 100%;
    height: 79px;
    background-color: #1B1310;
    margin-top: 50px;

    & p {
        color: white;
        text-align: center;
        line-height: 79px;
    }
}

