@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    height: 74px;
    background-color: #1B1310;
    align-items: center;

    & .site-title {
        font-family: "Roboto";
        margin-left: 120px;
        font-size: 26px;
        font-weight: 600;
        margin-right: auto;
        color: white;
    }


    & .nav {
        & .navigation-group {
            padding: 0px;
            & .navigation-item {
                list-style: none;
                display: inline-block;
                margin-right: 54px;

                &:last-child {
                    margin-right: 120px;
                }

                & a {
                    font-family: "Roboto";
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

#FV {
    display: flex;
    width: 100%;
    height: 740px;
    background-image: url("../public/img/fv-bgi@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

    & .fv-text {
        padding: 42px 34px;
        font-family: "Roboto";
        color: white;
        font-size: 50px;
        font-weight: 600;
        border: 2px solid white;
    }
}

.contents {
    margin-left: 205px;
    margin-right: 205px;
}

#About {
    margin-top: 100px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    & .about-h2 {
        margin-top: 72px;
        font-family: 'Noto Sans Japanese', sans-serif; 
        font-size: 24px;
        font-weight: bold;
    }


    & .about-message {
        margin-top: 42px;
        font-family: 'Noto Sans Japanese', sans-serif; 
        font-size: 14px;
        font-weight: bold;
    }
}

#Service {
    margin-top: 150px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    & .service-item1 {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .service-item1-box
        {
            margin-left: 70px;
            & .service-item1-h2 {
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 24px;
                font-weight: bold;
            }
            & .service-item1-message {
                margin-top: 41px;
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    & .service-item2 {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .service-item2-box
        {
            & .service-item2-h2 {
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 24px;
                font-weight: bold;
            }
            & .service-item2-message {
                margin-top: 41px;
                font-family: 'Noto Sans Japanese', sans-serif; 
                font-size: 14px;
                font-weight: bold;
            }
        }

        & img {
            margin-left: 70px;
        }
    }
}

#News {
    margin-top: 150px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }
    & .news-conntents {
        display: flex;
        justify-content: space-between;
        & .news-item-block {
            width: 320px;
            box-shadow: 0 2px 5px #ccc;
            & img {
                vertical-align: bottom; //画像下の余白を取る
            }

            & p {
                padding: 25px 33px;
                font-size: 13px;
                font-family: 'Hiragino Kaku Gothic ProN';
            }
        }
    }

}

#Contact {
    margin-top: 150px;
    & h2 {
        font-family: "Roboto";
        font-size: 36px;
        font-weight: 600;
        text-align: center;
    }

    & .contact-form {
        margin: 46px 165px 0px 165px;

        & .contact-form-item {
            margin-top: 22px;
            
            & input {
                width: 100%;
            }

            & textarea {
                width: 100%;
                height: 171px;
            }
        }

        & .contact-form-submit {
            text-align: center;
            margin-top: 50px;
            & button {
                text-align: center;
                width: 235px;
                height: 59px;
                background-color: #1B1310;
                color: white;
                border-radius: 100vh;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

#footer {
    width: 100%;
    height: 79px;
    background-color: #1B1310;
    margin-top: 50px;

    & p {
        color: white;
        text-align: center;
        line-height: 79px;
    }
}

